{% extends "layout.html" %}
  
{% block body %}
<style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
        </style>
<table>
      <tr>
            <th>{{ form.day.label }}</th>
            <th>{{ form.hour.label }}</th>
            <th>{{ form.doctorsNeeded.label }}</th>
            <th>{{ form.nursesNeeded.label }}</th>
            <th>{{ form.practicalNursesNeeded.label }}</th>
      </tr>
      <tr>
            <form method="POST" action="{{ url_for('create_shift') }}">
                        <th>
                        {% for subfield in form.day %}
                              {{ subfield }} {{ subfield.label }}</br>
                        {% endfor %}
                        </th>
                        <th>
                        {% for subfield in form.hour %}
                              {{ subfield }} {{ subfield.label }}</br>
                        {% endfor %}
                        </th>
                        <th>{{ form.doctorsNeeded }}</th>
                        <th>{{ form.nursesNeeded }}</th>
                        <th>{{ form.practicalNursesNeeded }}</th>
                        <th><input type="submit" value="Submit new working hour"/></th>
                  </form>
      </tr>
</table>
<ul>
      {% for error in form.day.errors %}
      <li>{{ error }}</li>
      {% endfor %}
</ul>
<ul>
      {% for error in form.doctorsNeeded.errors %}
      <li>{{ error }}</li>
      {% endfor %}
</ul>
<ul>
      {% for error in form.nursesNeeded.errors %}
      <li>{{ error }}</li>
      {% endfor %}
</ul>
<ul>
      {% for error in form.practicalNursesNeeded.errors %}
      <li>{{ error }}</li>
      {% endfor %}
</ul>


{% endblock %}