{% extends "layout.html" %}

{% block body %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
</style>
<table>
    <tr>
        <th>Employee</th>
        <th>Position</th>
        <th>Week minimum</th>
        <th>Week maximum</th>
        <th>Set week minimum</th>
        <th>Set week maximum</th>
      </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.position }}</td>
        <td>{{ user.weekmin }}</td>
        <td>{{ user.weekmax }}</td>
        
        <form method="POST" action="{{ url_for('set_weekhours', user_id=user.id) }}">
            <td>{{ form.weekMin }} </td>
            <td>{{ form.weekMax }} </td>
          <td><input type="submit" value="Set weekhours"/></td>
        </form>
        
    {% endfor %}
        </form>
      </tr>
    <tr>{{ error }}</tr>
    <ul>
      {% for error in form.weekMin.errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    <ul>
      {% for error in form.weekMax.errors %}
      <li>{{ error }}</li>
      {% endfor %}
</ul>
</table>
{% endblock %}