{% extends "layout.html" %}

{% block body %}
{{ error }}

<form method="POST" action="{{ url_for('auth_signup') }}">
  <table>
    <tr>
      <td>
    {{ form.name.label }}
      </td>
      <td>
    {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.username.label }}
      </td>
      <td>
	{{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.password.label }}
      </td>
      <td>
	{{ form.password }}
      </td>
    </tr>
    <tr>
      <td>
    {{ form.position.label }}
      </td>
      <td>
        {% for subfield in form.position %}
            {{ subfield }} {{ subfield.label }}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
	<input type="submit" value="Sign up"/>
      </td>
    </tr>
    </table>
    <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
      </ul>
      <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
      </ul>
      <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
      </ul>
      <ul>
            {% for error in form.position.errors %}
            <li>{{ error }}</li>
            {% endfor %}
      </ul>
</form>
{% endblock %}